body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container-main {
  text-align: center;
}

.info-app {
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.links a {
  display: block;
  text-decoration: none;
  color: #007bff;
  font-size: 1.1rem;
}
